.content-page {
    margin-top: 0px;
    overflow: initial !important;
}

#wrapper {
    overflow: initial!important;
}

.content {
    margin-top: 70px;
}

.user-houses-stats {
    position: sticky;
    top: 150px;    
}

